.nav {
  background: url(../assets/bg15.jpeg) center;
}

.nav-item {
  background: white;
  margin-right: 2px;
  border-radius: 5px 5px 0 0;
}

#home,
#about,
#project,
#contact,
#resume {
  color: black;
  font-family: "Pacifico", cursive;
}

@media screen and (max-width: 820px) {
  .nav-item {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .nav-item {
    font-size: 13px;
  }
}
